body {
    background-color: red;
    border: 2px solid;
}
p{
    font-size: 30px;
}
h3{
    color: aqua;
}
button{
    background-color: tomato;
    color: hotpink;
    border-radius: 50%;
    border: 10px solid black;
}
a{
    font-size: 30px;
    color: yellow;
    border: 3px solid;
}